* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-image: url(./gambar/vintage.jpg);
  background-position: center;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(55, 107, 189);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(72, 231, 245);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}

.brand > a {
  display: inline-flex;
  width: 30%;
  margin: 10px;
  z-index: 999;
  color: white;
  position: fixed;
  align-items: center;
  background-color: rgba(1, 1, 1, 0.6);
}

.brand > a > img {
  width: 16%;
  height: 8%;
  top: 0;
  margin-right: 4px;
}

.brand > a > h4 {
  text-align: center;
  position: relative;
}

.content-nav {
  display: flex;
  gap: 30px;
  list-style-type: none;
  background-color: rgba(1, 1, 1, 0.6);
  padding: 2%;
  width: 100%;
  justify-content: end;
  margin: 99;
  align-items: center;
}

.content-nav > li > a {
  color: white;
  text-decoration: none;
  transition: 0.4s;
}

.content-nav > li > a:hover {
  color: gray;
}

.content-nav > img {
  width: 50px;
}

/* Nav end */

/* Welcome */
.welcome {
  display: flex;
  align-items: center;
  height: 100vh;
}

.welcome-img {
  display: flex;
  position: absolute;
  width: 100%;
  box-shadow: 0px 0px 20px 4px rgb(0, 0, 0);
}

.welcome-img::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.welcome-img > img {
  width: calc(100% / 4);
  height: 100vh;
  object-fit: cover;
}

.welcome-content {
  position: absolute;
  flex-direction: column;
  justify-content: center;
}

.welcome-content > h1 {
  padding: 0 4%;
  font-size: 8vh;
  display: inline-block;
  color: white;
  user-select: none;
}

.welcome-content > h1:last-child {
  font-size: 8vh;
}

.welcome-content > h3 {
  padding: 2% 4%;
  color: #fff;
}
/* Welcome End */

/* BPUPKI */
.BPUPKI {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.BPUPKI-container {
  background-image: url(./gambar/BPUPKI.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 7%;
  min-height: 50%;
  border: 2px solid rgb(92, 130, 220);
}

.BPUPKI-container > h1 {
  text-align: center;
  font-size: 4vh;
  color: #fff;
  margin-bottom: 50px;
  background-color: rgb(92, 130, 220);
  padding: 0 10px;
  transform: translateY(50%);
}

.one {
  color: #fff;
  background-color: rgba(1, 1, 1, 0.6);
  width: 90%;
  font-size: 3vh;
  padding: 5px;
}

.BPUPKI-container > div {
  display: flex;
  align-items: center;
  margin: 3% 4%;
  gap: 10px;
}

.BPUPKI-container > div > div {
  max-height: 100%;
  width: 50%;
}

.BPUPKI-container > div > div > h1 {
  font-size: 3vh;
  color: #fff;
  display: block;
  text-align: center;
  background-color: rgb(92, 130, 220);
}

.BPUPKI-container > div > div > p {
  color: aliceblue;
  font-size: 2.8vh;
  margin: 1% 0;
  background: rgba(1, 1, 1, 0.6);
  padding: 8px;
  max-height: 20vh;
  min-height: 20vh;
  overflow-y: auto;
}

.BPUPKI-container > div > div > p::-webkit-scrollbar {
  width: 5px;
}

.BPUPKI-container > div > div > p::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 25px 25px 25px 25px;
}

/* BPUPKI End */

/* Main */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: grid;
  grid-template-columns: auto auto;
  box-shadow: 0px 0px 20px 4px rgb(0, 0, 0);
  width: 95%;
  border: 1px solid black;
}

.main-container > div > div {
  display: inline-block;
  align-self: center;
}

.main-container > div > div > img {
  user-select: none;
  max-height: 30vh;
  border-radius: 4%;
  object-fit: cover;
}

.main-container > div > div > h1 {
  user-select: none;
  align-self: flex-end;
  margin: 0 10px;
  font-size: 1.4vw;
  border-radius: 25px 25px 25px 25px;
  background-color: rgba(45, 61, 142, 0.995);
  margin-bottom: 5px;
  z-index: 10;
  animation: blinkAnimation 5s infinite;
  text-align: center;
  cursor: pointer;
}

@keyframes blinkAnimation {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.main-container > div > div > h1:hover {
  animation: none;
  background-color: rgba(111, 118, 151, 0.995);
}

.main-container > div > div > h1 > a {
  color: white;
  text-decoration: none;
  font-family: Poppins, sans-serif;
}

.satu {
  background-image: url(./gambar/background-main3.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
}

.dua {
  background-image: url(./gambar/background-main2.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
}

.tiga {
  background-image: url(./gambar/background-main.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
}

.empat {
  background-image: url(./gambar/background4.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
}

.paragraf {
  color: white;
  margin: 0 10px;
  overflow-y: auto;
}

.paragraf > h3 {
  text-align: center;
  transform: translateY(30%);
  padding: 2% 0;
}

.paragraf > p {
  margin-top: 20px;
  font-size: 1.8vw;
  overflow: auto;
  max-height: 25vh;
  min-height: 25vh;
  padding: 10px;
  margin-bottom: 40px;
  background-color: rgba(1, 1, 1, 0.6);
  font-family: Edu SA Beginner, sans-serif;
}

.paragraf > p::-webkit-scrollbar {
  width: 3px;
}

.paragraf > p::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.center {
  background-color: rgb(41, 54, 151);
  width: 9%;
  height: 16%;
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  clip-path: polygon(50% 0%, 100% 38%, 82% 90%, 18% 90%, 0% 38%);
  cursor: pointer;
  margin-left: 2%;
}

.center:hover {
  background-color: rgb(79, 88, 150);
}

.center > h4 {
  color: aliceblue;
  user-select: none;
  text-align: center;
  font-size: 2.2vh;
}
/* Main End*/

/* Pop Up */
.pop-up {
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(28, 28, 28, 0.6);
  z-index: 99;
}

.show {
  display: flex;
}

.pop-up-content {
  height: 80vh;
  width: 80%;
  background-image: url(./gambar/vintageBackground2.jpg);
  background-position: center;
  background-size: cover;
  padding: 20px;
  border-radius: 3%;
}

.pop-up-content > p {
  font-size: 3.4vh;
  font-weight: 600;
  overflow-y: auto;
  height: 100%;
}

.pop-up-content > p::-webkit-scrollbar {
  width: 8px;
}

.pop-up-content > p::-webkit-scrollbar-thumb {
  background-color: black;
}

.pop-up-content > p::-webkit-scrollbar-thumb:active {
  background-color: white;
}

.pop-up-content > p::-webkit-scrollbar-button {
  background-color: #fff;
  height: 8px;
}

.close {
  top: 0;
  right: 0;
  margin: 4%;
  position: absolute;
  cursor: pointer;
  padding: 0.5% 1%;
}
/* Pop Up */

/* Footer */
footer {
  background-color: black;
  color: white;
  border-top: 2px solid rgb(39, 93, 164);
  margin-top: 40px;
  padding-bottom: 20px;
}

footer > div {
  display: flex;
  gap: 10px;
  padding: 1% 3%;
}

footer > div > p {
  font-size: 1.6vw;
}

footer > div > p:first-child {
  width: 70%;
}

/* Footer end */

/* Responsive at 756px */
@media screen and (max-width: 756px) {
  .brand > a > img {
    width: 20%;
  }

  .brand > a > h4 {
    font-size: 2vw;
  }

  .brand > a {
    z-index: 5;
  }

  .navbar {
    padding: 1.5vh 2%;
  }

  .content-nav {
    gap: 20px;
  }

  .BPUPKI-container > h1 {
    font-size: 7vw;
    padding: 0 2%;
  }

  .BPUPKI-container > p {
    max-height: 20vh;
    min-height: 20vh;
    overflow-y: auto;
  }

  .BPUPKI-container > div {
    display: flex;
    flex-direction: column;
  }

  .BPUPKI-container > div > div {
    width: 100%;
  }

  .BPUPKI-container > div > div > h1:last-child {
    font-size: 5vw;
  }

  .main-container {
    grid-template-columns: auto;
    width: 100%;
    margin: 0;
  }

  .main-container > div > div > img {
    height: 30vh;
    width: 100%;
  }

  .main-container > div > div > h1 {
    font-size: 2vh;
  }

  .center {
    position: relative;
    clip-path: none;
    width: 80%;
    margin: 20px 0;
    border-radius: 25px 25px 25px 25px;
  }

  footer > div > p {
    font-size: 2vh;
  }
}

/* Responsive at 580px */
@media screen and (max-width: 580px) {
  .content-nav > li > a {
    font-size: 2.5vw;
  }

  .welcome-content > h1 {
    font-size: 5vh;
  }

  .welcome-content > h1:last-child {
    font-size: 4vh;
  }

  .BPUPKI-container {
    flex-direction: column;
    align-items: center;
  }

  .BPUPKI-container > div {
    width: 90%;
  }

  .main-container {
    width: 100%;
    margin: 0;
  }

  .main-container > div > div > img {
    height: 20vh;
    width: 100%;
  }

  .main-container > div > div > h1 {
    font-size: 1.5vh;
  }

  .perkenalan > main > h1 {
    font-size: 2vh;
  }

  .perkenalan > main > div {
    display: block;
  }

  .perkenalan > main > div > div > p {
    font-size: 2vh;
  }

  .paragraf > p {
    font-size: 2.5vh;
  }
}
